include navbar

.container
  h1#welcome.subhead Welcome, {{currentUser.name}}!
  .row
    .col-md-8.col-sm-12.news-entry
      .row
        h2#news News
        .col-md-4.col-sm-6
          h3 News Title
          p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
        // /.news-entry
        .col-md-4.col-sm-6.news-entry
          h3 News Title
          p
            | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        // /.news-entry
        .col-md-4.col-sm-6.news-entry
          h3 News Title
          p
            | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.
        // /.news-entry
        .col-md-4.col-sm-6.news-entry
          h3 News Title
          p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
        // /.news-entry
        .col-md-4.col-sm-6.news-entry
          h3 News Title
          p
            | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        // /.news-entry
        .col-md-4.col-sm-6.news-entry
          h3 News Title
          p
            | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.
        // /.news-entry
    .col-md-4.col-sm-6.news-entry
      .row
        h2#recents Recents
        .list-group
          a.list-group-item(data-ng-href='/projects/{{project.id}}', data-ng-repeat='project in recentProjects')
            span.badge 14
            | {{project.title}}
        .list-group(data-ng-hide='!recentProjects || recentProjects.length')
          .list-group-item
            | No recent projects yet.
        
  
  // /.row
  h2#tour.subhead Statistics
  .row
    .col-md-12
      p
        | Duis autem vel eum iriure dolor
    // /.col-md-12
  // /.row
// /.container

hr

footer
  .container.clearfix
    p.pull-left
      | Copyright © Animates 2014