include navbar

.container
  h1#welcome.subhead Welcome, {{currentUser.name}}!
  .row
    .col-md-8.col-sm-12.news-entry
      .row
        h2#news News
        .col-md-4.col-sm-6
          h3 News Title
          p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
        // /.news-entry
        .col-md-4.col-sm-6.news-entry
          h3 News Title
          p
            | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        // /.news-entry
        .col-md-4.col-sm-6.news-entry
          h3 News Title
          p
            | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.
        // /.news-entry
        .col-md-4.col-sm-6.news-entry
          h3 News Title
          p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
        // /.news-entry
        .col-md-4.col-sm-6.news-entry
          h3 News Title
          p
            | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        // /.news-entry
        .col-md-4.col-sm-6.news-entry
          h3 News Title
          p
            | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.
        // /.news-entry
    .col-md-4.col-sm-6.news-entry
      .row
        h2#recents Recents
        .list-group
          a.list-group-item(href='#') 
            span.badge 14
            | Cras justo odio
          a.list-group-item(href='#') 
            span.badge 2
            | Dapibus ac facilisis in
          a.list-group-item(href='#') 
            span.badge 5
            | Morbi leo risus
          a.list-group-item(href='#') 
            span.badge 42
            | Porta ac consectetur ac
          a.list-group-item(href='#') 
            span.badge
            | Vestibulum at eros
  
  // /.row
  h2#tour.subhead Statistics
  .row
    .col-md-12
      p
        | Duis autem vel eum iriure dolor
    // /.col-md-12
  // /.row
// /.container

hr

footer
  .container.clearfix
    p.pull-left
      | Copyright © Animates 2014