nav.navbar.navbar-default.navbar-inverse.navbar-static-top(role='navigation', ng-controller='NavbarCtrl')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.nav-link(href='#top') Animates
    // /.navbar-header
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav.navbar-right
        li(ng-show='currentUser && !isActive("/")', ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
          a.nav-link(ng-href='{{item.link}}') {{item.title}}

        li(ng-hide='currentUser', ng-class='{active: isActive("/login")}')
          a.nav-link(href='/login') Login
        li(ng-hide='currentUser', ng-class='{active: isActive("/signup")}')
          a.nav-link(href='/signup') Sign up
        li(ng-show='currentUser', ng-class='{active: isActive("/logout")}')
          a.nav-link(href='', ng-click='logout()') Logout
    // /.navbar-collapse
  // /.container
// /.navbar