<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
    <span>{{project.created | date:'medium'}}</span>/
    <span>{{project.user.name}}</span>
    <h2>{{project.title}}</h2>
    <div data-ng-show="global.user._id == project.user._id">
        <a class="btn" href="/#!/projects/{{project._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a> 
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{project.description}}</div>
</section>
