extends layouts/editor-layout

block content
  include includes/editor-navbar
  
  .outer-layout-center(ng-controller='EditorCtrl', ng-init='initializeAnimation(#{project.id});')
    .ui-layout-center
      canvas#mainCanvas(ng-controller='CanvasCtrl', ng-init='initialize("mainCanvas");')
    .ui-layout-west
      div(ng-include='\'partials/editor/toolbar.html\'')
    .ui-layout-south
      div(ng-include='\'partials/editor/timelinePanel.html\'')
    .ui-layout-east
      div(ng-include='\'partials/editor/propertiesPanel.html\'')