extends layouts/editor-layout

block content
  .ui-layout-center(ng-controller='LayoutCtrl')
    .ui-layout-center
      canvas#mainCanvas(ng-controller='CanvasCtrl', ng-init='initialize("mainCanvas");')
    .ui-layout-west
      div(ng-include='views/partial/editor/toolbar.html')
    .ui-layout-south
      div(ng-include='views/partial/editor/timelinePanel.html')
    .ui-layout-east
      div(ng-include='views/partial/editor/propertiesPanel.html')
