extends layouts/editor-layout

block content
  include includes/editor-navbar
  
  .outer-layout-center(ng-controller='EditorCtrl', ng-init='initializeAnimation("#{project.id}");')
    .ui-layout-center(ng-hide='loading')
      canvas#mainCanvas(ng-controller='CanvasCtrl')
    .ui-layout-west(ng-hide='loading')
      div(ng-include='\'partials/editor/toolbarPanel.html\'')
    .ui-layout-south(ng-hide='loading')
      div(ng-include='\'partials/editor/timelinePanel.html\'')
    .ui-layout-east(ng-hide='loading')
      div(ng-include='\'partials/editor/propertiesPanel.html\'')

    .loading(ng-show='loading')
        .loading-message
          .progress.progress-striped.active
            .progress-bar(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
              span loading ...