<script src="scripts/services/recentProjectsService.js"></script>
<script src="scripts/services/localStorageConstants.js"></script>
extends layouts/main-layout

block content
  // Add your site or application content here
  div(ng-view)
    
