#editorContainer {
    margin: auto;
    position: absolute;
    top: 50px; right: 0; bottom: 0; left: 0;
}

editable.title {
  font-size : 1em;
  width : 100px;
  display: block;
}

editable.title span {
  padding: 1px;
  border: 2px solid transparent;
  font-size: 1em;
}

editable.title input {
  border: 1px solid;
  font-size: 1em;
}

@media (min-width: 1000px) {
  editable.title {
    width : 200px;
  }
}

@media (min-width: 1200px) {
  editable.title {
    width : 300px;
  }
}
