extends base-layout

block styles
  link(rel='stylesheet', href='styles/editor-vendor.css')
  link(rel='stylesheet', href='bower_components/jquery-minicolors/jquery.minicolors.css')
  link(rel='stylesheet', href='styles/editor-main.css')

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='bower_components/jquery-minicolors/jquery.minicolors.js')
  script(src='scripts/editor-vendor.js')
  script(src='scripts/editor-model.js')
  script(src='scripts/editor-scripts.js')
