extends base-layout

block styles
  link(rel='stylesheet', href='styles/player-main.css')

block scripts
  script(src='scripts/player-vendor.js')
  script(src='scripts/player-model.js')
  script(src='scripts/player-scripts.js')
