// link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/ext/bootstrap.min.css')
// style.
//   body {
//   padding-top: 50px;
//   padding-bottom: 20px;
//   }
// link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
link(rel='stylesheet', href='/css/ext/bootstrap-theme.min.css')
link(rel='stylesheet', href='/css/style.css')
block styles