script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
script.
  window.jQuery || document.write('<script src="/js/lib/jquery-2.0.3.min.js"><\\/script>')
script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
script.
  $.fn.modal || document.write('<script src="/js/lib/bootstrap.min.js"><\\/script>')
// <script src="/js/main.js"></script>
block scripts
script.
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src='//www.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));