nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.nav-link(href='#top') Animates
    // /.navbar-header
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a.nav-link(href='/Settings') Settings
        li
          a.nav-link(href='') Logout
    // /.navbar-collapse
  // /.container
// /.navbar