<div class="btn-toolbar " role="toolbar" ng-controller="ToolbarCtrl">
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-default" ng-click="addImage();"><span class="glyphicon glyphicon-picture"></span></button>
    <button type="button" class="btn btn-default" ng-click="addText();"><span class="glyphicon glyphicon-font"></span></button>
    <button type="button" class="btn btn-default" ng-click="addSound();"><span class="glyphicon glyphicon-music"></span></button>
  </div>
  <br/>
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-default" ng-click="addRectangle();"><i class="fa fa-square-o"></i></button>
    <button type="button" class="btn btn-default" ng-click="addCircle();"><i class="fa fa-circle-o"></i></button>
    <button type="button" class="btn btn-default" ng-click="addTriangle();"><i class="fa fa-play fa-rotate-270"></i></button>
    <button type="button" class="btn btn-default" ng-click="addStar();"><span class="glyphicon glyphicon-star"></span></button>
  </div>
  <br/>
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span></button>
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></button>
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-star right"></span></button>
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span></button>
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-share-alt"></span></button>
    <button type="button" class="btn btn-default" ng-click="removeElements();"><span class="glyphicon glyphicon-trash"></span></button>
  </div>
</div >

<div class="canvas-content" ng-controller="CanvasCtrl">
  <canvas id="mainCanvas" ng-init="initialize();">
  </canvas>
</div>