<div class="btn-toolbar" role="toolbar" ng-controller="ToolbarPanelCtrl">
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-default" ng-repeat="type in registeredTypes" ng-click="addType(type);" ><i ng-class="getClassForType(type);"></i></button>
  </div>
  <br/>
  <br/>
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></button>
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span></button>
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-share-alt"></span></button>
    <button type="button" class="btn btn-default" ng-click="removeElements();"><span class="glyphicon glyphicon-trash"></span></button>
  </div>
</div >
