<div class="btn-toolbar layout-panel" role="toolbar" ng-controller="ToolbarPanelCtrl">
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-default" ng-repeat="type in registeredShapeTypes" ng-disabled="playing" ng-click="addShapeType(type);" ><i ng-class="getClassForShapeType(type);"></i></button>
  </div>
  <br/>
  <br/>
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-default" ng-repeat="type in registeredEffectTypes" ng-disabled="playing || !selectedShape" ng-click="addEffectType(type);" ><i ng-class="getClassForEffectType(type);"></i></button>
  </div>
  <br/>
  <br/>
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-default" ng-click="openSettings();"><span class="glyphicon glyphicon-cog"></span></button>
  </div>
  <br/>
  <br/>
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-default" ng-click="tooglePlay()"><span class="glyphicon" ng-class="{'glyphicon-pause': playing, 'glyphicon-play': !playing}"></span></button>
    <button type="button" class="btn btn-default" ng-click="stop();"><span class="glyphicon glyphicon-stop"></span></button>
    <button type="button" class="btn btn-default" ng-disabled="playing" ><span class="glyphicon glyphicon-download-alt"></span></button>
    <button type="button" class="btn btn-default" ng-disabled="playing" ><span class="glyphicon glyphicon-share-alt"></span></button>
  </div>
</div >
