div
  span.pull-right.action.delete.glyphicon.glyphicon-trash(ng-click='delete()' ng-show="deleteEnabled")
  span.pull-right.action.share.fa.fa-share(ng-click='share()' ng-show="shareEnabled")
  span.pull-right.action.share.glyphicon.glyphicon-download-alt(ng-click='download()')
  br
  editable.title.editable.truncate(value='project.name' title='{{project.name}}' on-change="titleChange" enabled="titleEnabled" accept-empty="false")
  p.preview
    a(href='{{defaultLink}}')
      img(src='assets/images/video.png')
  p.description
      | {{project.info}}
  p.modified
      | Last Modified: {{project.modified | date:'medium'}}
