<section data-ng-controller="ProjectsController" data-ng-init="find()">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" data-ng-repeat="project in projects">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><a data-ng-href="#!/projects/{{project._id}}">{{project.title}}</a></h3>
					</div>
					<div class="panel-body">
						<div>{{project.created | date:'short'}}</div>
						<div>{{project.user.name}}</div>
						<div>{{project.description}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h1 data-ng-hide="!projects || projects.length">No projects yet. <br> Why don't you <a href="/#!/projects/create">Create One</a>?</h1>
</section>