include ../navbar

.container
  .row
    .col-sm-12
      section
        form.form-horizontal.col-md-6(role='form', data-ng-submit='create()')
          .form-group
            label.col-md-2.control-label(for='title') Title
            .col-md-10
              input#title.form-control(type='text', data-ng-model='title', placeholder='Title', required='')
          .form-group
            label.col-md-2.control-label(for='description') Description
            .col-md-10
              textarea#description.form-control(data-ng-model='description', cols='30', rows='5', placeholder='Description', required='')
          .form-group
            .col-md-offset-2.col-md-10
              button.btn.btn-default(type='submit') Submit