div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarCtrl')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      img.navbar-brand(src='assets/images/video.png', alt='{{project.name}}')
      a.navbar-brand(href='/') Animates

    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
      ul.nav.navbar-nav
        li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
          a(ng-href='{{item.link}}') {{item.title}}

      ul.nav.navbar-nav.navbar-left(ng-if="project")
        li
          a
            editable.title.editable.truncate(value='project.name' on-change="titleChange" enabled="true" accept-empty="false")

      ul.nav.navbar-nav.navbar-right
        li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/signup")}')
          a(href='/signup') Sign up

        li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/login")}')
          a(href='/login') Login

        li(ng-show='isLoggedIn()')
          p.navbar-text Hello {{ getCurrentUser().name }}

        li.dropdown(ng-if="project")
          a.dropdown-toggle(href='', data-toggle='dropdown')
            | Options
            span.caret
          ul.dropdown-menu(role='menu')
            li
                a(href='', ng-click='shareProject()') Share
            li.divider
            li
                a(ng-href='{{playUrl}}', target='_blank') Play
            li
                a(href='', ng-click='downloadProject()') Download

        li(ng-show='isLoggedIn()', ng-class='{active: isActive("/settings")}')
          a(href='/settings')
            span.glyphicon.glyphicon-cog

        li(ng-show='isLoggedIn()', ng-class='{active: isActive("/logout")}')
          a(href='', ng-click='logout()') Logout
