.project-form {
    margin: 20px 0;
}

#banner {
    text-align: left;
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

p.description {
  font-size: 10px;
  color: black;
  float: right;
}

.projects {
  border: none;
}

.project {
  margin:10px;
  line-height: 30px;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #F7572A;
}

.project .preview {
    text-align: center;
}

.project input {
    width: 80%;
}

li.project:hover {
    background-color: rgba(67,147,185,0.4);
    color: #428bca;
}

.project img {
  margin-left: auto;
  margin-right: auto;
  width: 6em
}

.project .modified {
  font-size: 10px;
  padding: 0px;
  margin: 0px;
  text-align: right;
}

.project .delete:hover {
  cursor:pointer;
  font-weight: bold;
}
