form(role="form")
  .form-group
    label(for="url")
      | Url
    input.form-control.url(type="text" id="url" onclick="this.select();" onkeydown="this.select(); return false" value="{{url}}")
  #checkbox
    label
      input(type="checkbox" ng-model="project.public" ng-change="makePublic()")
      |  Make this animation available for everyone
  br

  label
    | Add a new collaborator

  .collaborator
    table.user.table.table-striped
      tr
        td.middle
          input.form-control(ng-model="newCollaborator")
        td.middle
          select.form-control(ng-model="newCollaboratorPermission" ng-options="opt.text for opt in options track by opt.value")
        td.middle
          button.btn.btn-primary(ng-click="addCollaborator()")
            | Add
  label
    | Collaborators

  .collaborators
    table.users.table.table-striped
      tr(ng-repeat="item in project.workgroup" rel="{{ item.user._id }}")
        td.middle
          img(src='assets/images/video.png', alt='item.user.name')
        td.middle
          | {{item.user.name}}
        td.middle
          select.form-control(ng-model="item.extendedPermission" ng-change="changePermission($index)" ng-options="opt.text for opt in options track by opt.value")
        td.middle.center
          button.btn.btn-danger(ng-click="removeCollaborator($index)")
            | Remove
